configuration {
  modi: "drun,system:~/.config/rofi/rofi_system.sh,run";
  matching: "fuzzy";
  threads: 4;
  hide-scrollbar: true;
  width: 30;
  lines: 15;
  font: "Noto Sans CJK JP Regular 11";
  show-icons: true;
  color-enabled: true;
  color-window: "#3a4c54, #2a373e, #c3c6c8";
  color-normal: "#455a64, #fafbfc, #455a64, #00bcd4, #fafbfc";
  color-active: "#455a64, #00bcd4, #455a64, #009688, #fdf6e3";
  color-urgent: "#455a64, #ff5252, #455a64, #ff5252, #fdf6e3";
}
@theme "default"
